fastapi==0.115.12
pydantic[email]==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
python-dotenv==1.1.0
uvicorn==0.34.0
PyJWT==2.10.1
passlib==1.7.4
python-multipart==0.0.20 # form data, fastapi.security.oauth2.OAuth2PasswordRequestForm Dependency
sqlmodel==0.0.24
requests

sqlalchemy==2.0.39
greenlet==3.1.1